/*Variables*/
/*SCSS*/
h1 {
  font-family: "Bree Serif", serif;
  text-aling: center; }

img.transfom {
  text-aling: center; }

  /*CSS Personalizado*/

h2{
    font-family: "Bree Serif", serif ;
  }

section{
  font-size: 20px;
}